/* Navigation */
.fixed-header {
	position: fixed;
	background: white;
	width: 100%;
	position: relative;
	display: inline-block;
    top: 0;
    left: 0;
    z-index: 10000;
    height: 75px;
    overflow: hidden;
}

.logo {
	width: 150px;
	float: left;
	padding-top: 1em;
	padding-left: 2em;
}

.nav a {
	float: right;
	padding-top: 25px;
	top: 15px;
	display: inline-block;
	color: black;
	font-family: "quicksand", serif;
	text-transform: uppercase;
	font-weight: 400;
	margin-right:5%;
	border-bottom:none;
	text-decoration:none;
	
}


/*
.nav a {
	color: #aaa;
	font-family: "Quicksand", serfi;
	text-transform:uppercase;
	color: #333;
    font-weight: 400;
    margin: 0 0 0 20px;
    font-size: 1.4em;
	text-decoration: none;
	border-bottom: none;
}
*/


.nav a:hover {
	color: #333;
}

.nav a:visited {
    color: #333;
}
 
.nav a:hover {
    color: #000;
	font-weight: 700;
	border-bottom: 2px solid #000; 
	-webkit-transition: color linear ease-in-out, font-weight ease-in-out, border-bottom ease-in-out;
    -moz-transition: color linear ease-in-out, font-weight ease-in-out, border-bottom ease-in-out;
    transition: color linear ease-in-out, font-weight ease-in-out, border-bottom ease-in-out;
}

.nav a:active {
   color: #FFDE21;
	font-weight: 700;
	border-bottom: 2px solid #FFDE21; 
}



/* Content */

body {
	margin: 0;
	padding: 0;
	background-color:white;
}

img {
	display: block;
	margin: 0 auto;
}

section {
	padding: 10rem 0;
}

.beyonce {
	width: 75%;
}

.a-one {
	background: transparent url(../images/a3.jpg) no-repeat center top;
	background-size: cover;
}




/* 
<div class="fixed-header">
	<a href="#"><img src="images/sarahknowles.svg" alt="Sarah Knowles" class="logo"></a>
	<nav class="nav">
		<ul class="fixed-menu">
			<li> <a href="#"> About Me </a></li>
			<li> <a href="#"> Work </a></li>
			<li> <a href="#"> Let's Chat </a></li>
		</ul>
	</nav>
</div>

<section class="a-one">
	<img class="beyonce" src="images/beyonce.svg" alt="Hi, My Name is Sarah Knowles. And No, I'm not related to Beyonce">
</section>

*/