/* Navigation */
.fixed-header {
	position: fixed;
	width: 100%;
	display: inline-block;
    top: 0;
    left: 0;
    z-index: 10000;
    height: 75px;
    overflow: hidden;
}

.logo {
	width: 150px;
	float: left;
	padding-top: 1em;
	padding-left: 2em;
}

.nav a {
	float: right;
	padding-top: 25px;
	top: 15px;
	display: inline-block;
	color: black;
	font-family: "quicksand", serif;
	text-transform: uppercase;
	font-size:18px;
	font-weight: 400;
	margin-right:5%;
	border-bottom:none;
	text-decoration:none;
	
}

.nav a:hover {
	color: #333;
}

.nav a:visited {
    color: #333;
}
 
.nav a:hover {
    color: #000;
	font-weight: 700;
	border-bottom: 2px solid #000; 
	-webkit-transition: color linear ease-in-out, font-weight ease-in-out, border-bottom ease-in-out;
    -moz-transition: color linear ease-in-out, font-weight ease-in-out, border-bottom ease-in-out;
    transition: color linear ease-in-out, font-weight ease-in-out, border-bottom ease-in-out;
}

.nav a:active {
   color: #FFDE21;
	font-weight: 700;
	border-bottom: 2px solid #FFDE21; 
}


@media screen and (max-width: 55em) {
	
}

/* Content */

body {
	margin: 0;
	padding: 0;
	background-color:#FFDA1D;
}

img {
	display: block;
	margin: 0 auto;
}

section {
	padding: 10rem 0;
}

.beyonce {
	width: 75%;
}

.beyonce-section {
	background: transparent url(../images/08.jpg) no-repeat center top;
	background-size: cover;
}

.rugby {
	width: 75%;
	opacity: 0;
}

.js-rugby-fade {
	-webkit-animation: rugby-fade 1s linear forwards;
	-moz-animation: rugby-fade 1s linear forwards;
	-ms-animation: rugby-fade 1s linear forwards;	
}


@-webkit-keyframes rugby-fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
 
.work {
	background-color:white;
}

.contact {
	background-color:#FD5757;
}


