/* Navigation */
.fixed-header {
	position: fixed;
	width: 100%;
    top: 0;
    left: 0;
    z-index: 10000;
    height: 75px;
    overflow: hidden;
	background:rgba(255,255,255,0.89);
}

.logo {
	width:0px;
	margin: auto;
	padding-top: 1em;
	padding-left: 2em;
	
}
.nav {
	margin:auto;
	text-align:center;
}
.nav a {
	padding-top: 4px;
	top: 15px;
	display: inline-block;
	color: black;
	font-family: "quicksand", serif;
	text-transform: uppercase;
	font-size:15px;
	font-weight: 400;
	margin: 0 5px;
	border-bottom:none;
	text-decoration:none;
	
}

@media only screen and (min-width: 38em){
	.fixed-header {
		height: 125px;
	}
	
	.logo{
		width:150px;
	}
	
	.nav a {
		padding-top: 20px;
	}
}

@media only screen and (min-width: 48em){
	.fixed-header {
		height: 75px;
	}
	
	.logo{
		width:150px;
		float: left;
	}
	
	.nav a {
		font-size: 18px;
		padding-top: 25px;
		float: right;
		margin-right:30px;
	}
	
}



.nav a:hover {
	color: #333;
}

.nav a:visited {
    color: #333;
}
 
.nav a:hover {
    color: #000;
	font-weight: 700;
	border-bottom: 2px solid #000; 
	-webkit-transition: color linear ease-in-out, font-weight ease-in-out, border-bottom ease-in-out;
    -moz-transition: color linear ease-in-out, font-weight ease-in-out, border-bottom ease-in-out;
    transition: color linear ease-in-out, font-weight ease-in-out, border-bottom ease-in-out;
}

.nav a:active {
   color: #FFDE21;
	font-weight: 700;
	border-bottom: 2px solid #FFDE21; 
}


/* Content */

body {
	margin: 0;
	padding: 0;
	background-color:#FFDA1D;
}

img {
	display: block;
	margin: 0 auto;
}

section {
	padding: 10rem 0;
}

.beyonce {
	width: 85%;
	margin:auto;
	padding:1rem;
}

.beyonce-section {
	background: transparent url("../images/a2.jpg") no-repeat center top;
	background-size: cover;
}

.rugby-section {
	background: transparent url("../images/a3.jpg") no-repeat center top;
	background-size: cover;
}

.rugby {
	width: 75%;
	opacity: 0;
}

.js-rugby-fade {
	-webkit-animation: rugby-fade 1s linear forwards;
	-moz-animation: rugby-fade 1s linear forwards;
	-ms-animation: rugby-fade 1s linear forwards;	
}


@-webkit-keyframes rugby-fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-ms-keyframes rugby-fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-moz-keyframes rugby-fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
 
.work {
	background-color:white;
	overflow:auto;
	padding: none;
}

.contact {
	background-color:#FD5757;
}

/* Work */

.ch-grid {
    display: block;
	float:left;
    text-align: center;
    width: 100%;
	margin:0;
	padding: none;
	overflow:auto;
}
 
.ch-grid:after,
.ch-item:before {
    content: '';
    display: table;
}
 
.ch-grid:after {
    clear: both;
}
 
.box {
    width: 100%;
	height: 350px;
    display: inline-block;
	float:left;
	padding:none;
	margin: 0;
}

@media only screen and (min-width: 38em){
.box {
    width: 33.3%;
	height:300px;
}

.ch-info h3 {
    padding: 65px 0 0 0;
}
}

@media only screen and (min-width: 65em){
.box {
    width: 25%;
	height:300px;
}

.ch-info h3 {
    padding: 65px 0 0 0;
}
	
}

@media only screen and (min-width: 75em){
	
	
}

.ch-item {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: default;
    box-shadow: 
        inset 0 0 0 0 rgba(255,219,59,0.80),
        inset 0 0 0 0px rgba(255,255,255,0.6),
        0 1px 2px rgba(0,0,0,0.1);
    transition: all .5s ease-in-out;
}

.ch-img-1 { 
    background:url(http://placehold.it/350x350) no-repeat center;
	background-size: cover;
}
 
.ch-img-2 { 
   background:url(http://placehold.it/350x350) no-repeat center;
   background-size: cover;
}
 
.ch-img-3 { 
    background:url(http://placehold.it/350x350) no-repeat center;
	background-size: cover;
}

.ch-img-4 { 
    background:url(http://placehold.it/350x350) no-repeat center;
	background-size: cover;
}

.ch-img-5 { 
    background:url(http://placehold.it/350x350) no-repeat center;
	background-size: cover;
}
 
.ch-img-6 { 
   background:url(http://placehold.it/350x350) no-repeat center;
   background-size: cover;
}
 
.ch-img-7 { 
    background:url(http://placehold.it/350x350) no-repeat center;
	background-size: cover;
}

.ch-img-8 { 
    background:url(http://placehold.it/350x350) no-repeat center;
	background-size: cover;
}

.ch-img-9 { 
    background:url(http://placehold.it/350x350) no-repeat center;
	background-size: cover;
}

.ch-info {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transform: scale(0);
    backface-visibility: hidden;
}

.ch-info h3 {
    color: #fff;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 2px;
    font-size: 22px;
    margin: 0 30px;
    padding: 105px 0 0 0;
    height: 65px;
    font-family: 'Open Sans', Arial, sans-serif;
    text-shadow: 
        0 0 1px #fff, 
        0 1px 2px rgba(0,0,0,0.3);
}
 
.ch-info p {
    color: #fff;
    padding: 10px 5px;
    font-style: italic;
    margin: 0 30px;
    font-size: 12px;
    border-top: 1px solid rgba(255,255,255,0.5);
}
 
.ch-info p a {
    display: block;
    color: rgba(255,255,255,0.7);
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 1px;
    padding-top: 4px;
    font-family: 'Open Sans', Arial, sans-serif;
}
 
.ch-info p a:hover {
    color: rgba(255,242,34, 0.8);
}

.ch-item:hover {
    box-shadow: 
        inset 0 0 0 175px rgba(255,219,59,0.6),
        inset 0 0 0 0px rgba(255,255,255,0.8),
        0 1px 2px rgba(0,0,0,0.1);
}

.ch-item:hover .ch-info {
    opacity: 1;
    transform: scale(1);    
}


