// Variables
$light-grey: #ccc;
$text-color: #222;

$dark-gold: #FFC639;

$accent-gold: #BF942B;
$hover: #947321;
$light-gold: #FFE063;

//Font Stacks

$cabin:'Cabin', sans-serif;
$crimson:'Crimson Text', serif;

