h2 {
	font-family: $cabin;
	color: white;
	letter-spacing: 2px;
	margin-bottom: 0;
}

h3 {
	margin: 0;
	font-family: $crimson;
	font-style: italic;
	padding-left: 2em;
	padding-right: 2em;
	font-size: 16px;
	color: white;
}